{% extends 'book_outlet/base.html' %}

{% block title %}
All books
{% endblock %}

{% block content %}
<ul>
    {% for book in books %}
    <li>
        <!-- ASI PODEMOS CONSTRUIR RUTAS DINAMICAS -->
        <!-- <a href="{% url 'book_detail' book.id %}">{{book.title}} </a> (Rating: {{book.rating}}) -->
        <!-- <a href="/{{book.id}}">{{book.title}} </a> (Rating: {{book.rating}}) -->

        <!--  EL METODO get_absolute_url() ES UNA FUNCION QUE ESTA EN EL MODELO BOOK DONDE PODEMOS SOBREESCRIBIR ESE METODO PARA CREAR LA RUTA DINAMICA DE LA VISTA DETALLE DE LIBRO -->
        <a href="{{book.get_absolute_url}}">{{book.title}} </a> (Rating: {{book.rating}})
    </li>


    {% endfor %}
    <hr>
    <p>Total books: {{total_books}}</p>
    <p>Average: {{average_rating}}</p>

</ul>
{% endblock %}